<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240404732830-jf44i3n7vq1sqtqo2029mrctkdismt3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240404732830-jf44i3n7vq1sqtqo2029mrctkdismt3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>240404732830-ka2s6moukcgauguf5iatdm5unjl2ut1v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmWzTL2GgENyIuY4FR4a2CIpon1XjqXgY</string>
	<key>GCM_SENDER_ID</key>
	<string>240404732830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanzanite.tanzanite</string>
	<key>PROJECT_ID</key>
	<string>tanzanite-18f40</string>
	<key>STORAGE_BUCKET</key>
	<string>tanzanite-18f40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240404732830:ios:548fcaee3695ae79e1548f</string>
	<key>DATABASE_URL</key>
	<string>https://tanzanite-18f40-default-rtdb.firebaseio.com</string>
</dict>
</plist>